@import "tailwindcss";

body {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(209, 209, 237, 1) 67%, rgba(148, 187, 233, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@layer components{
  .space{
    margin-top: 120px;
  }
}